bert_pytorch/pretrained
bert_pytorch/tasks/QuestionAnswering/squad_data
bert_pytorch/tasks/MultipleChoice/swag_data
bert_pytorch/tasks/SequenceClassification/glue_data
bert_FastNLP/converted
*.idea
*.DS_store
